:root {
    --background-color: #1e1e1e;
    --primary-color: #157efb;
    --font-color: #b1b1b1;
    --font-a: #807600;
    --subtle-primary-color: #151513;
    --block-background-color: #323232;
    --menu-item-color: #dedede;
    --menu-item-hover-color: #157efb;
    --menu-item-alert-bg: #151513;
    --menu-item-alert-shadow: #151513;
    --alert-border-color: #000;
    --tertiary-color: #727680;
}

@media screen and (prefers-color-scheme: dark) {
    /* Contents */
    body,
    p,
    div.description,
    .table-responsive,
    .table,
    .s,
    .columns,
    #content {
        background: var(--background-color) !important;
        color: var(--font-color);
    }
    /* Text */
    span,
    pre,
    code,
    span.str,
    .pun,
    .pln {
        color: var(--font-color);
    }
    /* Headers */
    pre,
    code,
    .header,
    .breadcrumb,
    #top_nav,
    #hdtbSum,
    .table-striped>tbody>tr:nth-of-type(odd) {
        background-color: var(--block-background-color);
    }
    /* Links */
    a,
    cite {
        color: var(--font-a) !important;
        font-weight: 500;
    }
    /* whatsapp */
    .YD4Yw {
        background-color: #0000003d;
    }
}